@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}


html{

    background-image: -webkit-linear-gradient(63deg,#61a1ff 50%,#fff 50%);
    min-height: 1000px;
    font-family:Arial, Helvetica, sans-serif;
}
.action .profile{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.action .menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25 px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}
.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu ul li:hover a{
    color: #ff5d94;
}
.updateForm{
   
    position: absolute;
    top: 110px;
    left: 15%;
}
.updateForm h1{
    margin-bottom: 25px;
    text-align: center;
}

.create{
    /* background-color: #fff; */
    position: absolute;
    top: 170px;
    left: 30%;
    text-align: center;
}
.create h1{
    margin-bottom: 35px;
    text-align: center;
}
.createProduct{
    position: absolute;
    top: 140px;
    left: 10%;
    text-align: center;
}

.update{
    /* background-color: #fff; */
    position: absolute;
    top: 100px;
    left: 15%;
    text-align: center;
}
.update h1{
    margin-bottom: 35px;
    text-align: center;
}
label{
    text-align: left;
}
